# Portainer and phpMyAdmin — edit hostnames below

    acl host_portainer hdr(host) -i portainer.example.com
    use_backend portainer_backend if host_portainer

    acl host_phpmyadmin hdr(host) -i pma.example.com
    use_backend phpmyadmin_backend if host_phpmyadmin

## backend ##

backend portainer_backend
    mode http
    server portainer portainer:9000

backend phpmyadmin_backend
    mode http
    server phpmyadmin phpmyadmin:80
