global
    maxconn 4096
    tune.ssl.default-dh-param 2048

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

defaults
    mode http
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    option redispatch
    retries 3
    default-server init-addr none inter 2s rise 2 fall 3 resolvers docker

frontend front
    bind *:80
    bind *:443 ssl crt /etc/letsencrypt/haproxy/ crt /etc/letsencrypt/haproxy/dummy.pem
    option http-server-close
    option forwardfor

    acl is_acme path_beg -i /.well-known/acme-challenge/
    acl need_redirect hdr_beg(host) -i www. || !{ ssl_fc }
    http-request redirect code 301 location https://%[hdr(host),regsub(^www\.,,i)]%[path]%[query,concat(?)] if need_redirect !is_acme

    acl acme_challenge_certbot path_beg -i /.well-known/acme-challenge/
    use_backend acme_challenge_certbot_backend if acme_challenge_certbot

# @@INCLUDE_FRONT@@

    default_backend not_found_backend

backend not_found_backend
    mode http
    http-request return status 404 content-type "text/plain" string "Not Found"

backend acme_challenge_certbot_backend
    mode http
    server certbot certbot:80

# @@INCLUDE_BACK@@
