global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend socks_frontend
    bind 0.0.0.0:1080
    default_backend socks_backend

backend socks_backend
    option tcp-check
    server tunnel_primary 127.0.0.1:1081 check inter 2000 rise 1 fall 2
    server tunnel_secondary 127.0.0.1:1082 check inter 2000 rise 1 fall 2 backup
