[mysqld]
# Connection limit for all site containers on shared MariaDB
max_connections = 10000

innodb_buffer_pool_size = 3G
innodb_log_file_size = 128M
tmp_table_size = 32M
max_heap_table_size = 32M
innodb_flush_log_at_trx_commit = 2
table_open_cache = 1500
thread_cache_size = 50
